@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://seita.u.qiniudn.com/lato/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://seita.u.qiniudn.com/lato/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://seita.u.qiniudn.com/lato/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://seita.u.qiniudn.com/lato/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
body{
font-family: "Lato", sans-serif !important;
color: #666666;
padding-top: 140px;
min-height: 100%;
background-color:#f8f8f8;
}
html,body,h1,h2,h3,h4,table,tr,td{padding:0;margin:0}
#main{
width:900px;
margin:0 auto;
margin-top:4em;
}
a{text-decoration:none;
}
ul{
list-style:none;
}
.qna p{
font-size:18px;
}
.qna{
padding-bottom: 4em;
width:600px;
}
.qna h1{font-weight:normal;}
.qna ul li.current-user .bubble {
background: #178efe;
}
.qna ul li.current-user .bubble:after {
background: url("http://seita.u.qiniudn.com/img/chat-right.png") left top no-repeat;
left: auto;
right: -6px;
}
.qna ul li.current-user {
padding-right: 40px;
padding-left: 80px;
color:#fff;
}
.qna ul li.current-user a{
color:#fff;
}
.qna ul li.current-user a:hover{
color:#666666;
}
.qna ul li.current-user img {
right: 0;
left: auto;
}
.qna ul li{
margin-bottom: 14px;
position: relative;
padding-right: 80px;
padding-left: 0px;
color:#000;
}
.qna ul li a{color:#007aff}
.qna ul li a:hover{color:#fff}
.qna ul li .bubble {
padding: 12px 15px;
background: #e5e5ea;
border-radius: 15px;
position: relative;
margin-left:40px;
font-size: 0.95em;
line-height:150%;
}
.qna ul li .bubble .user-name {
font-size: 1.1em;
margin-bottom: 8px;
display: inline-block;
}
.qna ul li .bubble:after {
content: "";
position: absolute;
bottom: 0;
left: -5px;
background: url("http://seita.u.qiniudn.com/img/chat-left.png") left top no-repeat;
width: 13px;
height: 13px;
display: block;
}
.qna ul li img {
position: absolute;
bottom: -5px;
left: 0;
border-radius: 50%;
}
.leftbar{
float:left;
width:194px;
}
.avatar{
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
border-radius: 33px;
-webkit-border-radius: 33px;
-moz-border-radius: 33px;
-o-border-radius: 33px;
overflow: hidden;
display: inline-block;
border: 2px solid #fff;
height: 190px;
}
.avatar img{
border: 2px solid #fff;
margin: 3px;
border-radius: 28px;
-webkit-border-radius: 28px;
-moz-border-radius: 28px;
-o-border-radius: 28px;
}
.qna{
float:right;
}
.button{
padding:10px 10px;
border:1px solid #c7504c;
font-weight: 300;
margin-top: 10px;
background:transparent;
cursor:pointer;
width:100%;
outline:none;
color:#c7504c;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
border-radius:6px;
}
.button:hover{
background:#c7504c;
color:#fff;
}
.dark{
border-color:#3f4656;
color:#3f4656;
}
.dark:hover{
background-color:#3f4656;
color:#fff;
}
.green{
color:#45963A;
border-color:#45963A;
}
.green:hover{
background-color:#45963A;
color:#fff;
}
.blue{
border-color:#4CC2C7;
color:#4CC2C7;
}
.blue:hover{
background-color:#4CC2C7;
color:#fff;
}
.navy{
color:#4C7DC7;
border-color:#4C7DC7;
}
.navy:hover{
background-color:#4C7DC7;
color:#fff;
}
.email{
color:gray;
border-color:gray;
}
.email:hover{
background-color:gray;
color:#fff;
}
#contact{display:none}
.avatar:hover{
background:#fff;
}